﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Login";
}
@section css {
    <link rel="stylesheet" href="~/css/login.css" />
}
<!-- Navbar End-->

<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row d-flex align-items-center flex-wrap">
            <div class="col-md-7" id="titlePage">
            </div>
            <div class="col-md-5">
                <ul class="breadcrumb d-flex justify-content-end">
                    <li class="breadcrumb-item"><a href="/Home">Home</a></li>
                    <li class="breadcrumb-item active"> Login</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="content">
    <div class="container">
        <div class="row" id="formLogin">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4" id="contentLoginForm">
                <div class="box">
                    <h2 class="text-uppercase text-center">Login</h2>
                    <p class="text-muted"></p>
                    <hr>
                    <form asp-controller="Home" asp-action="Homepage" method="post">
                        <div class="form-group">
                            <label for="email">Email : </label>
                            <input id="email" type="text" class="form-control" name="email">
                        </div>
                        <div class="form-group">
                            <label for="password">Password : </label>
                            <input id="password" type="password" class="form-control"  name="password" >
                        </div>
                        <div class="form-group text-center">
                            <label for="passwordEsqueceu"><a href="/RecoverPassword">Esqueceu-se da password?</a></label>
                        </div>
                        <div class="text-center">
                            <button id="loginbtn" type="submit" class="btn btn-template-outlined"><i class="fa fa-sign-in"></i> Login</button>
                        </div>
                        @section Scripts{
                            <script>
                            $(document).ready(function () {
                                    $("#loginbtn").click(function (e) {
                                        //e.preventDefault();

                                         $.ajax({
                                            type: "POST",
                                            url: "@Url.Action("LoginTry", "Home")",
                                            data: "",
                                            dataType: "text",
                                            success: function (msg) {
                                                alert(msg);
                                            },
                                            error: function (req, status, error) {
                                                alert(error);
                                            }
                                        });
                                    });
                                });
                            </script>
                        }
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>



