﻿
#heading-breadcrumbs {
    background-color: rgba(1, 131, 178, 0.9);
}

h1#titlePage {
    color: #fff;
}

.breadcrumb-item.active {
    color: #fff;
}

.breadcrumb-item a {
    color: #fff;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
}
