/*----------INDEX-----------*/
#logoInitial
{
    width: 8%;
}

.dark-mask.mask-primary2 {
    background: rgba(224, 224, 224, 0.9);
}

footer.main-footer
{
    color: black;
}

.team-member p.role {
    color: #208ac1;
}

footer.main-footer a 
{
    color: black;
}

.bg-white bar
{
    padding: 3%!important;
}
/*----------END INDEX-----------*/
/*----------LOGIN-----------*/
#topHr {
    margin-top: 0% !important;
    margin-bottom: 0% !important;
}
/*----------END LOGIN-----------*/

