﻿.box
{
    padding : 0 !important;
}

p.lead
{
    margin-bottom: 0 !important;
}

#basket {
    padding-top: 0% !important;
   
}

.bar
{
    padding-top : 0% !important;
}



#heading-breadcrumbs {
    background-color: rgba(1, 131, 178, 0.9);
}

h1#titlePage  {
    color: #fff;
}

.breadcrumb-item.active {
    color: #fff;
}

.breadcrumb-item a{
    color: #fff;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
}

button#btnAddNewStudent
{
    margin-top: 1vh;
}

.lead {
    font-size: 1rem;
}