﻿@model SIGEP.models.StudentTask
@{
    ViewData["Title"] = "Default";
}

<!--  MODAL - Adicionar nova entrada no diário -->
<div id="diary-modal" tabindex="-1" role="dialog" aria-labelledby="user-modalLabel" aria-hidden="true" class="modal fade">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="login-modalLabel" class="modal-title">Adicionar tarefa</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form method="POST" asp-controller="StudentTasks" asp-action="AddDiaryTask">
                    <div class="form-group">
                        <label for="task">Tarefa : </label>
                        <input id="task" asp-for="Title" type="text" class="form-control">
                        <input id="idTask" asp-for="IdTask" type="hidden" class="form-control">
                        <input id="IdStudent" asp-for="IdStudent" type="hidden" value="@ViewData["idStudent"]" class="form-control">
                    </div>
                    <div class="form-row mb-4">
                        <div class="col">
                            <!-- First name -->
                            <label for="dateBegin">Data Início : </label>
                            <input type="date" asp-for="StartDate" class="form-control">
                        </div>
                        <div class="col">
                            <!-- Last name -->
                            <label for="password">Data Fim : </label>
                            <input type="date" asp-for="TaskEndDate" id="defaultRegisterFormLastName" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Descrição : </label>
                        <textarea id="Name" asp-for="Description" rows="4" cols="20" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="custom-file">
                            <input id="customFile" name="files" class="form-control custom-file-input" type="file" />
                            <label id="file-name-label" class="custom-file-label">Escolha um ficheiro</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <p class="text-center">
                            <button id="btnAddNewStudent" class="btn btn-template-outlined">Adicionar</button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL - Adicionar nova entrada no diário -->
